<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Series DB</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Studios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Actors</a>
        </li>
    </ul>
</nav>